<% if @posts == nil %>
	<p>Uh oh! No teachers have registered to teach this subject, yet.</p>
<% else %>
	<%= @posts.each do |post| %>
		<p>Name of Instructor:</p><%= post.name %>
	<% end %>
<% end %>

<%= link_to 'Add Post', new_board_post_path(@board) %>